@model Proyecto1TJ.Models.InOut

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPageBodega.cshtml";
}

<h2>Details</h2>

<div>
    <h4>InOut</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaInOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaInOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidadInOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadInOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataBodega.nombreBodega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataBodega.nombreBodega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoInOut1.nombretipoInOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoInOut1.nombretipoInOut)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
